.education {
  // outline: 1px solid red;
  font-weight: 400;
}

.education__university {
  margin-top: 0;
  margin-bottom: 5px;
}

.education__speciality {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;

  span {
    color: black;
  }
}
