.projects {

  h3 {
    margin-top: 0;
  }
}

.projects__list {
  margin: 0;
  padding: 0;
  list-style: none;
	display: flex;
	flex-direction: column;
	gap: 8px;

	& > li {
		display: flex;
		align-items: center;
	}

	a {
		margin-left: 0.5rem;
		color: black;

		&:hover,
		&:focus {
			color: blue;
		}
	}
}

.project {
  h4 {
    margin-top: 0;
    font-weight: 300;
    text-decoration: underline;
  }

  a:hover,
  a:focus {
    color: red;
  }
}
